{% extends 'admin/base_admin.html'%} {% block content %}

<div class="row">

    <h4>Services<a href="{{url_for('new_service')}}">
    <i class="material-icons prefix" >add_circle_outline</i></a></h4>

    <ul class="collapsible" data-collapsible="accordion">
        {% for service in services %}
        <li>
            <div class="collapsible-header">
                <a href="{{url_for('confirm_delete', service_id =service._id)}}" class="waves-effect waves-light btn btn_small">Del</a>
                <a href="{{url_for('edit_service', service_id =service._id)}}" class="waves-effect waves-light btn btn_small">Edit</a>
                <div class=" task_header">
                    <strong>{{service.service_name}}</strong>
                </div>
            </div>

         {% endfor %}
    </ul>
</div>

</div>

{% endblock %}