{% extends 'admin/base_admin.html'%} {% block content %}

<div class="row">
    <h4>Transactions<a href="{{url_for('add_transaction')}}">
<i class="material-icons prefix" >add_circle_outline</i></a></h4>
    
<div class="col s12">
    </row>
        <ul class="collapsible" data-collapsible="accordion">
                        {% for transaction in transactions %}
                <li>
                <div class="collapsible-header">
                    <div class="col s12">
                            <i class="material-icons specialbox">expand_more</i>
                            <div class="box-space">
                            <a href="{{url_for('confirm_delete_transaction', transaction_id =transaction._id)}}" class="delete_request_btn waves-effect waves-light btn btn_small modal-trigger" data-requestid={{request._id}}>DEL</a>
                            <a href="{{url_for('edit_transaction', transaction_id = transaction._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                            <a href="tel:{{transaction.mobile}}"><i class="material-icons prefix" >phone</i></a>
                    </div>
                </div>
                        {% if request.is_urgent %}
                        <div class=" request_header col s9 urgent_request">
                        {% else %}
                        <div class=" request_header col s9">
                        {% endif %}
                        <strong>{{ transaction.client}} </strong> {{transaction.due_date}}<br> {{transaction.decscwrite}}
                        <div class="moneyin">+ {{transaction.moneyin}}</div>
                        <div class="moneyout">- {{transaction.moneyout}}</div> 
                    </div>
                </div>
                
             <div class="collapsible-body">
                           
                    {{transaction.misc}}<br/>
                    {{transaction.descrwrite}}
                    

                            {% endfor %}

        </ul> 
    </div>
</div>
    <hr> {% endblock %}
    </li>