{% extends 'base.html' %}


{% block content %}

<section class="content"><br>





<article> <hr>MEEREWIJCK 24 - 2451XD - LEIMUIDEN - TEL:. 0651297749<hr>

<h3>For men & women<h3><h1>Voor dames en Heren Your hair the way you want it!!! </h1>

<div class ="bullit_points">

<h5>

<li>Nieuwe coupe</li>

<li>Diversity in colors and cutting techniques</li>

<li>Ombre</li>

<li>Balayage</li>

<li>Nuance kleuringen met folie's of kwast</li>

<li>Bruids - gelegenheidskapsels en make-up ook mogelijk op locatie.</li>

<li>permanente wave en cruls voor± 3 maanden</li>

</h5>

</div>

Door onze flexibele werktijden is het mogelijk om op korte termijn een afspraak te plannen.



Bent u druk overdag? Dan kunt u bij ons in de avond ook een afspraak maken.



M24 Hairstyles openingstijden

Maandag tot en met Vrijdag van 8.00 tot 21.00

Zaterdag van 8.00 tot 18.00</p>

<hr>

<div class="clothes-pics">

<div class="row img-row">

<figure class="columns four"><img src="static/images/01.jpg">

<figcaption>cool!</figcaption>

</figure>

<figure class="columns four"><img src="static/images/02.jpg">

<figcaption>cool!</figcaption>

</figure>

<figure class="columns four"><img src="static/images/03.jpg">

<figcaption>cool!</figcaption>

</figure>

</div>

<div class="row img-row">

<figure class="columns four"><img src="static/images/04.jpg">

<figcaption>cool!</figcaption>

</figure>

<figure class="columns four"><img src="static/images/05.jpg">

<figcaption></strong>cool!</figcaption>

</figure>

<figure class="columns four"><img src="static/images/06.jpg">

<figcaption>cool!</figcaption>

</figure>

</div>

<div class="row img-row">

<figure class="columns four"><img src="static/images/07.jpg">

<figcaption>cool!</figcaption>

</figure>

<figure class="columns four"><img src="static/images/08.jpg">

<figcaption>cool!</strong></figcaption>

</figure>

<figure class="columns four"><img src="static/images/09.jpg">

<figcaption>cool!</figcaption>

</figure>

</div>

</div>

<div class="large-window">

<div class="window-tint">

<div class="promo-text"><strong><span><br><br><br><br><br><br></span></strong><a href="" class="window-cta">bel 0651297749</a></div>

</div>

</div>





</article>

<div style="height: 2000px"></div>

</section>

<script src="js/jquery-2.1.3.min.js"></script>

<script src="js/functions.js"></script>

{% endblock content %}



